# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\LABS\lab-8-maxwell882000-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
